body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.swiper-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Стили для кнопок навигации */
.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
